/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */
.BGHome {
    background: url(../uploads/bg/bg.html) no-repeat;
}

    .BGHome .description p {
        color: #7c9abd;
    }

    .BGHome .description h1, .BGHome .description h2, .BGHome .description h3, .BGHome .description h4, .BGHome .description h5, .BGHome .description h6 {
        color: #fff;
    }


    .buttonCustome, a.buttonCustome {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

    .buttonCustome.btn-large, a.buttonCustome.btn-large {
        padding: 0 32px;
        height: 43px;
        font-size: 1.1667em;
        line-height: 43px;
    }

    .buttonCustome.btn-medium, a.buttonCustome.btn-medium {
        padding: 0 32px;
        height: 34px;
        line-height: 34px;
        font-size: 1em;
    }

    .buttonCustome.btn-small, a.buttonCustome.btn-small {
        height: 28px;
        padding: 0 24px;
        line-height: 28px;
        font-size: 0.9167em;
    }

    .buttonCustome.btn-mini, a.buttonCustome.btn-mini {
        height: 19px;
        padding: 0 20px;
        font-size: 0.8333em;
        line-height: 19px;
    }

    .buttonCustome.full-width, a.buttonCustome.full-width {
        padding-left: 0;
        padding-right: 0;
    }

    .buttonCustome {
  font-size: 0.9167em;
  font-weight: bold;
  background: #656566; /*#2a394c;*/ /*#c52026;*/
  height: 34px;
  line-height: 34px; }
  .buttonCustome:hover {
    background: #c52026; }
