/* Title:   Updates Style File Author:  http://themeforest.net/user/soaptheme  */
/* Version 2.6.2 (9/7/2015) */
@media (max-width: 767px) {
    #booking .booking-info .info {
        clear: both;
    }
}

@media (max-width: 480px) {
    #booking .booking-info {
        padding-top: 20px;
    }

        #booking .booking-info div.date {
            float: none;
        }

    #profile .personal-details figure {
        width: auto;
    }

    #booking .booking-info .info {
        float: none;
        width: auto;
        margin-top: 10px;
    }

    #booking .booking-info .status {
        float: none;
        margin-bottom: 15px;
    }
}
/* Version 2.6.3 */
.dashboard.style1 #content, .dashboard.style2 #content {
    -webkit-backface-visibility: visible;
}

.search-box-wrapper.style1 .search-box:after {
    content: "";
    display: table;
    clear: both;
}

.search-box-wrapper.style1 .search-box > ul.search-tabs li > a:hover i {
    -webkit-animation: none;
}

.chaser .logo {
    margin-top: 0;
    font-size: inherit;
}

    .chaser .logo a {
        height: 48px;
        line-height: 48px;
        background-position: left center;
    }

    .chaser .logo img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
    }


    .global-map-area1 {
    background: url(../uploads/NewportSunset.jpg) no-repeat;
}

    .global-map-area1 .description p {
        color: #7c9abd;
    }

    .global-map-area1 .description h1, .global-map-area1 .description h2, .global-map-area1 .description h3, .global-map-area1 .description h4, .global-map-area1 .description h5, .global-map-area1 .description h6 {
        color: #fff;
    }


    .buttonCustome, a.buttonCustome {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

    .buttonCustome.btn-large, a.buttonCustome.btn-large {
        padding: 0 32px;
        height: 43px;
        font-size: 1.1667em;
        line-height: 43px;
    }

    .buttonCustome.btn-medium, a.buttonCustome.btn-medium {
        padding: 0 32px;
        height: 34px;
        line-height: 34px;
        font-size: 1em;
    }

    .buttonCustome.btn-small, a.buttonCustome.btn-small {
        height: 28px;
        padding: 0 24px;
        line-height: 28px;
        font-size: 0.9167em;
    }

    .buttonCustome.btn-mini, a.buttonCustome.btn-mini {
        height: 19px;
        padding: 0 20px;
        font-size: 0.8333em;
        line-height: 19px;
    }

    .buttonCustome.full-width, a.buttonCustome.full-width {
        padding-left: 0;
        padding-right: 0;
    }

    .buttonCustome {
  font-size: 0.9167em;
  font-weight: bold;
  background: #c52026;
  height: 34px;
  line-height: 34px; }
  .buttonCustome:hover {
    background: #c52026; }
